################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Release/net6.0
/.vs
/obj/Debug/net6.0/apphost.exe
/obj/Debug/net6.0/demoapp.AssemblyInfo.cs
/obj/Debug/net6.0/demoapp.AssemblyInfoInputs.cache
/obj/Debug/net6.0/demoapp.assets.cache
/obj/Debug/net6.0/demoapp.GeneratedMSBuildEditorConfig.editorconfig
/bin
/Properties/PublishProfiles
/demoapp.csproj.user
/obj
