@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <h1 class="display-4">Welcome text for democlass</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core updated first democlass 07th Feb changes</a>.</p>
    <p>Today is a Dotnet demo class for test-prod </p>
    <p>Updated version to push to ECR525252</p>
    <p>democlass Dec1</p>

</div>
