name: Deploy .NET Core to Elastic Beanstalk

on:
  push:
    branches:
      - master
env:
  AWS_REGION: ${{ secrets.AWS_REGION }}
  EB_APP_NAME: ${{ secrets.EB_APP_NAME }}
  EB_ENV_NAME: ${{ secrets.EB_ENV_NAME }}

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '7.0.x'

    - name: Restore Dependencies
      run: dotnet restore demoapp.csproj

    - name: Build
      run: dotnet build demoapp.csproj --configuration Release --no-restore

    - name: Publish
      run: dotnet publish demoapp.csproj -c Release -o publish

    - name: Zip Artifact
      run: |
        cd publish
        zip -r ../app.zip .
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1 # Replace with your AWS region
    - name: Upload zip file to S3 bucket using AWS CLI
      run: aws s3 cp app.zip s3://my-terraform-demo-bucket-2601/app.zip
    - name: Deploy to Elastic Beanstalk
      uses: einaregilsson/beanstalk-deploy@v22
      with:
        aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        application_name: ${{ env.EB_APP_NAME }}
        environment_name: ${{ env.EB_ENV_NAME }}
        region: ${{ env.AWS_REGION }}
        version_label: v-${{ github.run_number }}
        deployment_package: app.zip
